html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Verdana, Geneva, sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background: #efefef;
}